*{
  margin: 0px;
  padding: 0px;
}

/* backround image css */
.container {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust height as needed */
    background-image: url('./images/Rectangle\ 475.png'); /* Replace 'your-background-image.jpg' with your image file */
    background-size:cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5); /* Dark shadow effect */
    z-index:-100;
  }

/* image css part */
  header {
    position: fixed;
    top: 66px;
    left: 70px;
    width: 223px;
    height: 47px;
    padding: 20px;
    z-index: 9999; /* Ensure the header is on top of other elements */
  }
  .logo img {
    width: 100%; /* Adjust the width of the logo */
    height: auto; /* Maintain aspect ratio */
  }

  /* the way of alternative content style */
  .content{
    color:white;
    position: fixed;
    top:500px;
    left:180px;
    width: 502px;
    height: 100px;
    border-left: 4px solid white;
    border-width: 8px;
    padding-left:60px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 35px;
  }

  /* contact information design */
  .contact-info{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: medium;
    color: white;
    font-size: 22px;
    position: fixed;
    bottom:150px;
    left:150px;
    width: 320px;
    height: 35px;
  }

  /* laptop image background style */
.laptop-image{
  width: 600px;
  height: 380px;
  position: fixed;
  top:560px;
  right: 560px;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: medium;
  font-size: 28px;
}

.laptop-image img{
  width: 100%;
  height: 100%;
  display: block;
}

.laptop-image p{
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: transparent ; /* Semi-transparent background for better readability */
    padding:120px  170px 135px 170px ;
    backdrop-filter: blur(8px);
}

/* 9X9 div in chess board tilte  */
.container-row{
  display:block;
  position:relative;
  right: 10px;
  z-index:-120;
  /* border: 4px solid black; */
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container-box{
  height:1200px;
  width:1200px;
  border:0px solid transparent;
  display:grid;
  grid-template-columns:repeat(3,400px);
  grid-template-rows:repeat(3,400px);
  transform:rotate(45deg);
  position:absolute;
  right:-35px;
  top:-35px;
/*   border:2px solid black; */
}
.box{
  height:400px;
  width:400px;
  border:0 transparent;
}

.box1,.box3,.box5,.box7,.box9{
background-color:#B06806;
}
.box2,.box4,.box6,.box8{
  background-color:rgba(221, 221, 221, 0.1);
}




